.home-container {
  display: flex;
}
.all-movies {
  width: 75%;
  min-height: calc(100vh - 60px);
  padding: 20px 20px;
  border-right: 1px solid cyan;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.popular-movies {
  width: 25%;
  min-height: calc(100vh - 60px);
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 20px;
}
